<%- include('../partials/header.ejs') %>
<div class="hero-section2"><div>
    <h1>Our Mission. Our Vision. Our Values</h1>
</div></div>
<div class="container py-5">
    <h1>About Us</h1>
    <p id="about">Outdoor Adventure Meetup brings together outdoor enthusiasts for adventures and exploration. Join us to discover new experiences and make lasting friendships. We believe in the power of community and the thrill of the adventure. Whether you're a seasoned explorer or just starting out, we have something for everyone. Our events range from local hikes and camping trips to international expeditions. Come be a part of our adventurous community!</p>

    <h3> Our Mission </h3>
    <p id="about">To inspire and enable people of all skill levels to venture outside and discover the wonders of nature. We strive to create a welcoming, inclusive community where members can share experiences, learn from each other, and forge lasting friendships.</p>

    <h3> Our Vision </h3>
    <p id="about">Our vision is a world where everyone has the opportunity to connect with nature and experience the joy and health benefits of outdoor activities. We aim to be a leading community that promotes environmental stewardship, outdoor education, and the spirit of adventure.</p>

    <h3> Why join us? </h3>
    <ul id="about">
        <li><b>Diverse Adventures</b>: Whether you're into hiking, biking, camping, kayaking, or climbing, we organize a wide range of events to suit all interests and skill levels.</li>
        <li><b>Community and Friendship</b>: At the heart of our meetup is a vibrant community of friendly, welcoming members who share your enthusiasm for outdoor activities.</li>
        <li><b>Learning and Growth</b>: Learn new skills, enhance your outdoor knowledge, and push your boundaries in a supportive environment.</li>
        <li><b>Environmental Impact</b>: We believe in leaving no trace and actively contribute to conservation efforts to protect the places we love.</li>

        </ul>



</div>


<%- include('../partials/footer.ejs') %> 