<%- include('../partials/header.ejs') %>
<div class="hero-section1"></div>
<div class="container py-5">
    <div class="contacts">
    <h1>Contact Us</h1>
    <p id="contact">If you have any questions, suggestions, or would like to join one of our upcoming events, please don't hesitate to reach out to us!</p>
    <div>
        <h4>Email</h4>
        <p id="contact"><a href="mailto:contact@adventuremeetup.com">contact@adventuremeetup.com</a></p>

        <h3>Phone</h3>
        <p id="contact">(123) 456-7890</p>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %> 